*Daily production report March 2025.xlsx
*Daily production report March 2025 - updated.xlsx
*03 March  25 Gross Gen.xlsx
*Daily production report March 2025.xlsx
*Gross Gen. Summary 2025.xlsx

__pycache__/
*.py[cod]
.env